{# src/Van/WallBundle/Resources/views/Default/index.html.twig #}

{% if form is defined %}
    {% form_theme form 'VanWallBundle:Form:fields.html.twig' 'VanWallBundle:Form:textarea_widget.html.twig' %} 
{% endif %}

{% extends 'VanWallBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block content %}

<div class="row">
    
    {% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
    {% endfor %}
    
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    
        <div class="col-md-3" role="navigation">
            {#
            <h3>The Mighty Computer</h3>
            <div class="calculator row"> 
                <div class="col-md-7">
                    {% set buttons = [9,8,7,6,5,4,3,2,1] %}
                    
                    {% for key, button in buttons %}
                        {% if (key) % 3 == 0 %}
                            <br />
                        {% endif %}
                        <button value="{{ button }}" class="btn btn-primary calculator-btn" data-role="operand">{{ button }}</button>
                    {% endfor %}
                </div>
                <div class="col-md-5">
                    {% set buttons = ['+','-','*','/'] %}
                    
                    {% for key, button in buttons %}
                        {% if (key) % 2 == 0 %}
                            <br />
                        {% endif %}
                        <button value="{{ button }}" class="btn btn-primary calculator-btn" data-role="operator">{{ button }}</button>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <input type="text" name="calculator[value1]" id="calculator-value1" class="calculator-field" />
                    <span class="calculator-operator" id="calculator-operator"></span>
                    <input type="text" name="calculator[value2]" id="calculator-value2" class="calculator-field" />
                    <button value="compute" class="btn btn-primary calculator-btn">=</button>
                    <input type="text" name="calculator[result]" id="calculator-result" class="calculator-field" />
                </div>
            </div>
            #}
            
            <h3>Your friends</h3>
            {% if friends is defined %}
                <ul>
                {% for friend in friends %}
                    <li><a href="{{ path('vanuser_profile', {'id': friend.id}) }}">{{ friend.username }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <h3>Find friends</h3>
            {% if users is defined %}
                <ul>
                {% for user in users %}
                    <li><a href="{{ path('vanuser_profile', {'id': user.id}) }}">{{ user.username }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <h3>Pending invitations</h3>
            {% if invitations is defined %}
                <ul>
                {% for invitation in invitations %}
                    <li><a href="{{ path('vanwall_invitation', {'id': invitation.id}) }}">from {{ invitation.from.username }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            
        </div>
        
        <div id="content" class="col-md-9">
            
            <h1>Your Wall</h1>
            
            <form action="{{ path('vanwall_publish')}}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Publier</button>
                </div>
            </form>
            
            {% if posts is defined %}
                {% for post in posts %}
                    <div class="post-container">
                        <p><strong>by {{ post.from.username }}</strong></p>
                        <p>{{ post.date|date("Y-d-m H:i") }}</p>
                        <p>{{ post.content|raw('html') }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            {% block fos_user_content %}{% endblock %}
            
        </div>
    
    {% else %}
    
        
        {% render(controller( 'VanUserBundle:Registration:register' )) %}
    
    {% endif %}

</div>

{% endblock %}